In [16]:
import numpy as np
print(np.__version__)

2.2.4

Convert python list (if we already have) into numpy array

In [8]:
my_list_1d = [5,3,8]

In [9]:
# convert python list into 1-dimensional numpy array
np.array(my_list_1d)

array([5, 3, 8])

In [12]:
# 2-dimensional array from list of lists
my_list_2d = [[3,7,10], [4,2,5]]
my_list_2d

[[3, 7, 10], [4, 2, 5]]

In [17]:
my_2d_array = np.array(my_list_2d) # 3,7,10 are 1st row and 4,2,5 are 2nd row ---- 3,4 are 1st column and so on
my_2d_array

array([[ 3,  7, 10],
       [ 4,  2,  5]])

Create numpy array incase we don't have list

In [22]:
my_2d_array[0][2] # will print 10
my_2d_array[1][1] # will print 2

np.int64(2)

In [ ]:
#