In [3]:
# creating pandas from python list
import pandas as pd
data = [2,4,6,8]
array1 = pd.array(data)
print(array1)

<IntegerArray>
[2, 4, 6, 8]
Length: 4, dtype: Int64

In [4]:
# creating series from pd array
series1 = pd.Series(array1)
print(series1)

0    2
1    4
2    6
3    8
dtype: Int64

In [6]:
data = { 'Name': ['John', 'Alice', 'Bob', 'Emma', 'Mike', 'Sarah', 'David'],
         'Age': [25, 30, 35, 28, 32, 23, 40],
         'City': ['Delhi', 'Ghaziabad', 'Agra', 'Bareilly', 'Badaun', 'Madrid', 'Toronto']}
print(data)

{'Name': ['John', 'Alice', 'Bob', 'Emma', 'Mike', 'Sarah', 'David'], 'Age': [25, 30, 35, 28, 32, 23, 40], 'City': ['Delhi', 'Ghaziabad', 'Agra', 'Bareilly', 'Badaun', 'Madrid', 'Toronto']}

In [31]:
# create dataframe
df = pd.DataFrame(data)
print(df)
print(df.info())

    Name  Age       City
0   John   25      Delhi
1  Alice   30  Ghaziabad
2    Bob   35       Agra
3   Emma   28   Bareilly
4   Mike   32     Badaun
5  Sarah   23     Madrid
6  David   40    Toronto
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   City    7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes
None

In [32]:
height = [4,5,6,7,8,3,1]
df['Height'] = height 
print(df)

    Name  Age       City  Height
0   John   25      Delhi       4
1  Alice   30  Ghaziabad       5
2    Bob   35       Agra       6
3   Emma   28   Bareilly       7
4   Mike   32     Badaun       8
5  Sarah   23     Madrid       3
6  David   40    Toronto       1

In [33]:
# add new row
df.loc[len(df.index)] = ['Amy', 20, 'Noida', 4]
print(df)

    Name  Age       City  Height
0   John   25      Delhi       4
1  Alice   30  Ghaziabad       5
2    Bob   35       Agra       6
3   Emma   28   Bareilly       7
4   Mike   32     Badaun       8
5  Sarah   23     Madrid       3
6  David   40    Toronto       1
7    Amy   20      Noida       4

In [34]:
# remove the pandas dataframe row
df.drop(3, axis=0, inplace=True)
print(df)

    Name  Age       City  Height
0   John   25      Delhi       4
1  Alice   30  Ghaziabad       5
2    Bob   35       Agra       6
4   Mike   32     Badaun       8
5  Sarah   23     Madrid       3
6  David   40    Toronto       1
7    Amy   20      Noida       4

In [35]:
# remove the pandas dataframe column
df.drop('Height', axis=1, inplace=True)
print(df)

    Name  Age       City
0   John   25      Delhi
1  Alice   30  Ghaziabad
2    Bob   35       Agra
4   Mike   32     Badaun
5  Sarah   23     Madrid
6  David   40    Toronto
7    Amy   20      Noida

In [36]:
# rename indexes in pandas dataframe
df.rename(index={0:'Vishal', 1:'Priyanka', 2:'Adharv'}, inplace=True)
print(df)

           Name  Age       City
Vishal     John   25      Delhi
Priyanka  Alice   30  Ghaziabad
Adharv      Bob   35       Agra
4          Mike   32     Badaun
5         Sarah   23     Madrid
6         David   40    Toronto
7           Amy   20      Noida

In [37]:
df.reset_index(inplace=True)
print(df)

      index   Name  Age       City
0    Vishal   John   25      Delhi
1  Priyanka  Alice   30  Ghaziabad
2    Adharv    Bob   35       Agra
3         4   Mike   32     Badaun
4         5  Sarah   23     Madrid
5         6  David   40    Toronto
6         7    Amy   20      Noida

In [38]:
print(df['Name'])

0     John
1    Alice
2      Bob
3     Mike
4    Sarah
5    David
6      Amy
Name: Name, dtype: object

In [39]:
slice_rows = df.loc[1:3]
print(slice_rows)

      index   Name  Age       City
1  Priyanka  Alice   30  Ghaziabad
2    Adharv    Bob   35       Agra
3         4   Mike   32     Badaun

In [40]:
print(df.iloc[2])

index    Adharv
Name        Bob
Age          35
City       Agra
Name: 2, dtype: object